{block #content}
<div class="subpage-header"></div>

<section class="camp-page container">
    <h1>Triatlonové kempy</h1>
    <div class="container">
        {box triathlonCamps}
    </div>
</section>
