<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$name} - {$variableSymbol}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <style>
        html, body {
            width: 1240px;
            height: 874px;
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
            position: relative;
            background: url("../../www/dist/img/voucher/voucher.jpg") no-repeat;
            background-size: cover;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }

        .name, .lessons {
            position: absolute;
            font-size: 30px;
            color: #000000;
        }

        .variableSymbol, .validity {
            position: absolute;
            font-size: 30px;
            color: #ffffff;
        }

        .name { top: 355px; left: 500px}
        .lessons { top: 538px; left: 500px}
        .variableSymbol { top: 650px; left: 700px}
        .validity { top: 705px; left: 820px}
    </style>
</head>
<body>
<div class="name">{$name}</div>
<div class="lessons">{$lessons}</div>
<div class="variableSymbol">{$variableSymbol}</div>
<div class="validity">{$validity}</div>
</body>
</html>