/* raleway-regular - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../../fonts/raleway-v26-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/raleway-v26-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/raleway-v26-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/raleway-v26-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/raleway-v26-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/raleway-v26-latin-ext_latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin-ext_latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../../fonts/raleway-v26-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/raleway-v26-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/raleway-v26-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/raleway-v26-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/raleway-v26-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/raleway-v26-latin-ext_latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* inter-regular - latin-ext_latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../../fonts/inter-v8-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/inter-v8-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/inter-v8-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/inter-v8-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/inter-v8-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/inter-v8-latin-ext_latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - latin-ext_latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../../fonts/inter-v8-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/inter-v8-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/inter-v8-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/inter-v8-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/inter-v8-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/inter-v8-latin-ext_latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

html, body {
	overflow-x: hidden;
	background: $gray-100;
	color: $gray-800;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
}

a {
	font-weight: 500;
}

section {
	padding: 4rem 0;
}

.section-heading {
	span {
		display: block;
		text-align: center;
		opacity: .4;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-weight: 700;
		font-family: 'Raleway', sans-serif;
		padding: .3rem;
	}
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2rem;
}

h3 {
	font-size: 1.4rem;
}

.btn {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
}

.btn-lg {
	font-weight: 700;
}

.navbar {
	transition: all .25s ease-in-out;

	.nav-link {
		font-size: 1.3rem;
		margin-bottom: 1.5rem;
		text-transform: uppercase;
		text-align: center;
	}

	.nav-icon {
		i {
			font-size: 1.5rem;
		}
	}

	.navbar-brand {
		padding: .5rem;
		svg {
			height: 50px;
			transition: all .25s ease-in-out;
			fill: $white;
		}
	}

	.container {
		z-index: 1032;
	}

	.navigation-toggler {
		display: flex;
		flex-direction: column;
		width: 50px;
		cursor: pointer;
		margin: .5rem;

		span{
			background: $white;
			border-radius: calc(0.1px * 66.66);
			height: calc(0.07px * 66.66);
			margin: calc(0.07px * 66.66) 0;
			transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
		}

		span:nth-of-type(1){
			width:50%;
		}

		span:nth-of-type(2){
			width:100%;
		}

		span:nth-of-type(3){
			width:75%;

		}

		input[type="checkbox"]{
			display:none;
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(1){
			transform-origin:bottom;
			transform:rotate(45deg) translate(calc(0.08px * 66.66),0px)
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(2){
			transform-origin:top;
			transform:rotate(-45deg)
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(3){
			transform-origin:bottom;
			width:50%;
			transform: translate(calc(0.3px * 66.66),calc(-0.11px * 66.66)) rotate(45deg);
		}
	}

}

.navbar-bg {
	background: $primary;

	.navbar-brand {
		svg {
			height: 40px;
		}
	}
}

.navbar-collapse {
	position: absolute;
	width: 100vw;
	height: 100vh;
	padding: 100px;
	top: 0;
	left: -100vw;
	transition: all .2s ease-in;
	z-index: -1;
	background: rgba(darken($primary, 15%), .9);
}

.navbar-collapse.show {
	left: 0;
}

.subpage-header {
	position: relative;
	display: block;
	background: $primary;
	width: 100vw;
	height: 350px;

	&:before {
		content: '';
		position: absolute;
		z-index: 0;
		top: 0;
		opacity: 0.2;
		width: 100vw;
		height: 100%;
		background: url("../../img/pool.jpg") 100% 100%;
		background-size: cover;
	}
}

// HEADER
header {
	height: 100vh;
	position: relative;
	background: url("../../img/cover.jpg") center no-repeat;
	background-size: cover;
	z-index: 0;

	&::before {
		content: '';
		position: absolute;
		z-index: 100;
		width: 100vw;
		height: 100vh;
		background: linear-gradient(to bottom right, rgba($primary, 0.9), rgba($primary, 0.2));
	}

	.header-text {
		display: block;
		position: absolute;
		bottom: 20%;
		z-index: 100000;
		color: $white;

		span {
			display: block;
			text-align: center;
			margin: 0;
			font-size: 1.3rem;
			text-transform: uppercase;
			font-weight: 700;
		}

		h1 {
			text-align: center;
			font-size: 4rem;
		}
	}
}

// ABOUT
.about {
	.about-flex {
		display: flex;
		flex-direction: column-reverse;
		gap: 3rem;

		img {
			max-width: 100%;
			max-height: 500px;
			object-fit: cover;
		}

		.about-text {
			font-size: 1.1rem;
		}
	}

	.achievements {
		display: grid;
		padding: 4rem 0;
		grid-template-columns: 1fr;
		grid-gap: 3.5rem;
		margin-top: 4rem;
		background: rgba($secondary, .25);

		.achievement {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 3rem;
			gap: .3rem;
			font-weight: 700;
			border-radius: 1rem;

			span {
				font-weight: 400;
				font-size: 1rem;
				text-transform: uppercase;
				text-align: center;
			}
		}
	}
}

// LEKCE
.lectures {
	background: $gray-100;
	padding-left: 1rem;
	padding-right: 1rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: hidden;


	.lecture {
		border-radius: 3rem 0 3rem 0;
		padding: 1.5rem;
		background: linear-gradient(to bottom right, $primary, lighten($primary, 10%));
		color: $white;
		display: grid;
		grid-template-columns: 1fr;
		font-size: 1.1rem;
		grid-gap: 2rem;

		img {
			border-radius: 3rem 0 3rem 0;
		}

		a {
			color: $white;
		}

		.text {
			text-align: center;
		}
	}
}

// AKTUALITY
.news {

	.articles-row {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 3rem;
	}

	.new {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		background: $white;
		padding: 1rem;
		max-width: 1000px;
		align-items: flex-start;

		.text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}

		img {
			width: 100%;
			max-height: 300px;
			object-fit: cover;
		}

		time {
			text-transform: lowercase;
			background: rgba($secondary, .5);
			padding: .5rem;
			margin-bottom: 1rem;
		}
	}

	.alert {
		text-align: center;
		background: $gray-200;
		padding: 1.5rem;
	}
}

article {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;

	time {
		text-transform: lowercase;
		background: rgba($secondary, .5);
		padding: 1rem;
	}
}


// VOUCHER
.voucher {
	.voucher-text {
		margin: 0 auto;
		padding-bottom: 4rem;
		font-size: 1.1rem;
		text-align: center;
		max-width: 600px;
	}

	.voucher-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 4rem;

		.voucher-form {
			background-color: $white;
			padding: 1.5rem;
			color: $primary;
			text-align: center;

			h3 {
				font-weight: 700;
			}

			label {
				font-weight: 500;
			}

			small {
				color: $gray-700;
			}

			input[name=lessons] {
				max-width: 300px;
			}

			input[name=name] {
				max-width: 450px;
			}
		}

		img {
			max-width: 100%;
		}
	}
}


// PARTNERS
.partners {

	.partners-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 4rem;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		img {
			max-width: 80%;
			opacity: .8;
			transition: .2s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
		.under-armor {max-width: 60%;}
		.ohana {max-width: 70%;}
	}
}

// KONTAKT
.contact {
	.contact-grid {
		z-index: 1;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 3rem;
		align-items: start;

		.contact-form {
			background-color: $primary;
			padding: 1.5rem;
			color: $white;
			text-align: center;

			h3 {
				font-weight: 700;
			}

			label {
				font-weight: 500;
			}
		}

		.contact-list {
			z-index: 1;
			background-color: $white;
			padding: 1.5rem;
			list-style-type: none;

			li {
				margin-bottom: 1rem;
			}

			a {
				overflow-wrap: anywhere;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 1.2rem;

				&:hover {
					text-decoration: none;
				}

				i {
					font-size: 1.5rem;
					margin-right: 1rem;
				}
			}
		}
	}
}


// SCROLL TOP BUTTON
#scrollTopBtn {
	display: none;
	position: fixed;
	bottom: 5rem;
	right: 1rem;
	z-index: 1000;
	background: $white;
	border-radius: 50%;
	transition: bottom .3s, box-shadow 0s ease-in-out;

	i {
		color: $primary;
		font-size: 2.5rem;
		transition: .15s ease-in-out;
	}

	&:hover {
		bottom: 5.3rem;
		box-shadow: 2px 2px 5px 2px rgba($gray-600, 0.2);

		i {
			font-size: 2.8rem;
		}
	}
}

// FOOTER
footer.main-footer {
	background: $gray-100;

	.author {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 2rem 0;
		background-color: lighten($gray-100, 3%);
		color: $gray-500;
		width: 100vw;
		position: relative;

		svg {
			transition: all .2s ease-in-out;
			fill: $gray-500;
			display: block;
			margin-bottom: .7rem;
			width: 130px;
			height: auto;

			&:hover {
				fill: $gray-700;
			}
		}
	}
}

// GDPR
.gdpr {
	width: calc(100% - 2rem);
	max-width: 450px;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 1.5rem;
	color: $darkgray;
	background-color: $white;
	z-index: 1000;
	border-radius: $border-radius;

	i {
		color: $brown;
		font-size: 1.5rem;
	}
}

.grecaptcha-badge {
	z-index: 100;
}

// header animation
.loading {
	font-weight: 700;
	letter-spacing: .2rem;
	text-transform: uppercase;

	&:before {
		content: "Plavání";
		position: absolute;
		font-weight: 700;
		color: $white;
		text-transform: uppercase;
		font-size: 4rem;
		z-index: -10;
	}
}
.wave {
	//background-image: url("https://webdevtrick.com/wp-content/uploads/water-wave.png");
	background-image: url("../../img/wave3.png");
	border-image: unset;
	background-repeat: repeat-x;
	-webkit-background-clip: text;
	color: transparent;
	animation: wave-animation 1s infinite linear, loading-animation 5s infinite linear alternate;
	background-size: 200px 100px;
	opacity: 1;
}

@keyframes wave-animation {
	0% {
		background-position: 0 bottom;
	}
	100% {
		background-position: 200px bottom;
	}
}
@keyframes loading-animation {
	0% {
		background-size: 200px 0;
	}
	100% {
		background-size: 200px 240px;
	}
}
@media (max-width: 765px) {
	.loading {
		font-size: 50pt;
	}
}

// scroll down
.scroll-down {
	z-index: 10000000;
	color: $gray-200;
	position: absolute;
	width: 100vw;
	text-align: center;
	display: block;
	bottom: 3%;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: .8rem;
	transition: all .2s ease-in-out;

	&:hover, &:focus {
		color: $white;
		text-decoration: none;
	}

	svg {
		width: 20px;
		display: block;
		margin: 5px auto;

		.arrow {
			fill: $gray-200;
			animation: anim 1s ease-in alternate infinite;

			@keyframes anim {
				0% {
					transform: translateY(0);
				}
				100% {
					transform: translateY(10px);
				}
			}
		}
	}
}