@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {

	.navbar {
		.navbar-brand {
			padding: 1rem 0;

			svg {
				height: 70px;
			}
		}

		.nav-link {
			font-weight: 300;
			font-size: 1.1rem;
			margin-bottom: unset;
			padding: 1.5rem;
			margin-left: 1.5rem;
		}

		.navigation-toggler {
			display: none;
		}
	}

	header {
		.header-text {
			bottom: 15%;

			span {
				font-size: 2rem;
				margin-bottom: .5rem;
			}

			h1 {
				font-size: 7.5rem;
			}
		}
	}
}
