@include media-breakpoint-up(sm) {
	// LEKCE
	.plans {
		padding-left: 4rem;
		padding-right: 4rem;

		.plan {
			padding: 3rem;
		}
	}

	.about {

		.about-flex {
			.about-text {
				font-size: 1.2rem;
			}
		}
	}
}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {

	section {
		padding: 6rem 0;
	}

	.navbar {
		.navbar-brand {
			padding: 1rem 0;

			svg {
				height: 70px;
			}
		}

		.nav-link {
			font-weight: 300;
			font-size: 1.1rem;
			margin-bottom: unset;
			padding: 1.5rem;
			margin-left: .5rem;
		}

		.navigation-toggler {
			display: none;
		}
	}

	.navbar-collapse {
		position: relative;
		width: auto;
		height: auto;
		padding: unset;
		top: auto;
		left: auto;
		z-index: -1;
		background: unset;
	}

	.navbar-bg {
		padding: 0 1rem;

		.navbar-brand {
			svg {
				height: 50px;
			}
		}
	}

	header {
		.header-text {
			bottom: 20%;

			span {
				font-size: 2rem;
				margin-bottom: .5rem;
			}

			h1 {
				font-size: 5.5rem;
			}
		}
	}

	// header animation
	.loading {
		&:before {
			font-size: 7.5rem;
		}
	}


	// TRENINKOVE PLANY
	.plans {
		padding-left: 2rem;
		padding-right: 2rem;
		position: relative;
		overflow-y: visible;

		//.plans-img {
		//	display: block;
		//	position: absolute;
		//	right: -150px;
		//	top: 100px;
		//	width: 700px;
		//	overflow-y: visible;
		//}

		.plans-grid {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 5rem;
			margin: 3rem 0;
			font-size: 1.1rem;

			.running, .triathlon, .cycling {
				padding: 3rem;
			}

			h3 {
				margin-bottom: 1.5rem;
			}
		}

		.plan {
			padding: 2.5rem;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 4rem;
			font-size: 1.3rem;

			img {
				height: 100%;
				object-fit: cover;
				object-position: right;
			}

			.text {
				text-align: left;
			}
		}
	}

	.plan-preview {
		.preview-images {
			align-items: flex-start;
			margin-top: 5rem;
			flex-direction: row;
			gap: 4rem;
		}
	}

	// KEMPY
	.camps {
		.camps-header {
			margin-bottom: 8rem;
			height: 700px;
		}

		.camps-grid {
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 3rem;

			a {
				justify-content: flex-end;

				h3 {
					padding: 2rem;
					font-size: 1.4rem;
				}
			}
		}
	}

	.camp-page {
		.camps-text {
			text-align: left;
			margin-top: 4rem;

			h3 {
				text-align: left;
			}
		}
	}

	// ABOUT
	.about {
		background: rgba($secondary, .15);

		.about-flex {
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 6rem;

			.section-heading {
				.heading-span {
					text-align: left;
					font-size: 1.2rem;
				}
			}
			h2 {
				font-size: 3.1rem;
				text-align: left;
			}

			.about-text {
				margin-bottom: 4rem;
				margin-top: 4rem;
				text-align: left;
				font-size: 1.3rem;
			}
		}
	}

	// KONTAKT
	.contact {
		overflow: hidden;
		position: relative;
		z-index: 1;

		.section-heading {
			margin-bottom: 3rem;
			color: $white;
			z-index: 2;

			span {
				opacity: .9;
			}
		}

		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			opacity: 0.8;
			width: 100vw;
			height: 100%;
			background: url("../../img/img03.jpeg") 100% 100%;
			background-size: cover;
		}

		.contact-grid {
			grid-template-columns: 1fr 1fr;
			grid-gap: 4rem;

			.contact-form {
				z-index: 100;
				padding: 3rem;
				font-size: 1.1rem;
				text-align: left;

				input {
					max-width: 500px;
				}
			}

			.contact-list {
				padding: 3rem;

				li {
					margin-bottom: 1rem;
					font-size: 1.2rem;
				}

				i {
					font-size: 3rem;
					margin-right: .75rem;
				}
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.navbar {
		.nav-link {
			margin-left: 1.5rem;
		}
	}

	header {
		.header-text {
			h1 {
				font-size: 6.5rem;
			}
		}
	}
}